#questions {
    font-size: large;
    font-weight: bold;
}

#question-result{
    font-size: large;
    font-weight: bold;
    color: black;
}

.answer:hover {
background-color: rgb(190, 185, 185);
}
#quiz {
    display: none;
}
.end-game {
    display: none;
}
